* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  background-color: rgb(32, 31, 31);
}

.header__logo {
    width : 10rem ;
    margin-left : 1rem ;
  }

.header__titulo {
  color: rgb(116, 19, 51);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.imagenPrincipal {
  background-image: url(./assets/ruta-vino-mendozajpg.jpg);
  height: 100%;
  background-image: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
    display : flex ;
    flex-direction : column ;
    justify-content : space-around ;
    align-items: inherit;
    background-color:rgb(32, 31, 31);
}

.footer__logo {
    width : 8rem ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1rem;
}