* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
}

.shadowNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  background-color: rgb(32, 31, 31);
}

.header__logo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 2.1em;
  border: 2px solid transparent;
  width: 6rem;
}


.header__logo:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.cartImg {
  width: 45px; 
  cursor: pointer;
}

#cartNumbers {
  background-color: #206a5d;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  text-align: center;
  position: relative;
  top: -11px;
  right: 6px;
  cursor: pointer;
}

.header__titulo {
  color: rgb(116, 19, 51);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.imagenPrincipal {
  background-image: url(./assets/ruta-vino-mendozajpg.jpg);
  height: 100%;
  background-image: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 7rem;
}

.footer {
    display : flex ;
    flex-direction : column ;
    justify-content : space-around ;
    align-items: inherit;
    background-color:rgb(32, 31, 31);
}

.footer__logo {
    width : 8rem ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1rem;
}

.footer__redes {
  display : flex ;
  flex-direction : row ;
  justify-content : center;
  align-items : center ;
}

.footer__redes  img {
  width: 3rem ;
}

.footer__copy {
  font-family: ' Times New Roman ' , Times , serif ;
  display : flex ;
  flex-direction : row ;
  justify-content: flex-end ;
  margin-right : 1rem ;
  margin-left : 1rem ;
  margin-bottom: 1rem;
  color: white;
}

 
.legend {
  color: #eff3f7;
  font-size: 27px;
  padding: 10px;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bigicon {
  font-size: 35px;
  color: #36a0ff;
}

.section__parrafo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 2rem;
}

.section__mapa {
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.store {

  margin-top: 5rem;
}